<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Племя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacts.css">
</head>

<body class="black">

    <div class="popup popup-order">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <h3>Не нашли, что искали?</h3>
                <p>Остались вопросы?</p>
                <p>Мы перезвоним вам и поможем!</p>
            </div>
            <form>
                <input type="text" placeholder="Ваш телефон">
                <div class="checkbox">
                    <input type="checkbox">
                    <span>Нажимая кнопку «Жду звонка», я даю свое согласие на обработку 
                            моих персональных данных, в соответствии с Федеральным 
                            законом от 27.07.2006 года №152-ФЗ «О персональных данных», 
                            на условиях и для целей, определенных в Согласии на обработку 
                            персональных данных</span>
                </div>
                <button>Жду звонка</button>
            </form>
        </div>
    </div>

    <!-- ВИДНО КОГДА ЕСТЬ КЛАСС active -->
    <div class="popup popup-thank">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <p>Спасибо за Ваш вопрос, ожидайте ответ</p>
            </div>
        </div>
    </div>

    <div class="menu-site">
        <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
        <span class="close-menu"></span>
        <h6>племя</h6>
        <div class="menu-content">
            <nav>
                <ul>
                    <li><a href="index.html"><span>01</span>Главная <i class="icon-right-arrow"></i></a></li>
                    <li><a href="portfolio.html"><span>02</span>Портфолио<i class="icon-right-arrow"></i></a></li>
                    <li class="active"><a href="services.html"><span>03</span>Услуги<i class="icon-right-arrow"></i></a>
                        <ul>
                            <li><a href="services-lnternal.html">Веб-дизайн и разработка</a></li>
                            <li><a href="services-lnternal.html">Логотипы и брендинг</a></li>
                            <li><a href="services-lnternal.html">Презенторы и киты</a></li>
                            <li><a href="services-lnternal.html">Упаковка и этикетки</a></li>
                            <li><a href="services-lnternal.html">Наружная реклама</a></li>
                            <li><a href="services-lnternal.html">Digital-стратегия  и продвижение</a></li>
                        </ul>
                    </li>
                    <li><a href="team.html"><span>04</span>Команда<i class="icon-right-arrow"></i></a></li>
                    <li><a href="news.html"><span>05</span>Новости<i class="icon-right-arrow"></i></a></li>
                    <li><a href="jobs.html"><span>06</span>Вакансии<i class="icon-right-arrow"></i></a></li>
                    <li><a href="contacts.html"><span>07</span>Контакты<i class="icon-right-arrow"></i></a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><a href="javascript:void(0)" target="_blanck">Behance.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Instagram.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Facebook.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Vkontakte.</a></li>
            </ul>
        </div>
    </div>

    <div class="menu-fix active">
        <a class="tel" href="javascript:void(0)">
            <i class="icon-tel"></i>
        </a>
        <span class="menu">
            <span></span>
        </span>
        <ul class="social">
            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
        </ul>
    </div>

    <section class="contacts">
        <div class="content">
            <a class="prev-page" href="index.html"><span><i class="icon-arrow-01"></i></span>на главную</a>
            <div class="title">
                <div class="title-text">
                    <h2>Контакты</h2>
                    <p>Команда профессионалов, которая день ото дня делает лучшее, что может, но никогда себе в этом не признается</p>
                    <div class="title-items clearfix">
                        <div class="title-item">
                            <h4>клиентский отдел:</h4>
                            <ul>
                                <li><i class="icon-tel"></i><a href="tel:+79847770462">+7 984 777-04-62</a></li>
                                <li><i class="icon-globe"></i><a href="maelto:nlemja@yandex.ru">nlemja@yandex.ru</a></li>
                                <li><i class="icon-skype-logo"></i><a href="skype:Суда ник скайпа">Племя2 Арт</a></li>
                                <li><i class="icon-tel"></i><a href="tel:+79092361535">+7 (909)236-15-35</a></li>
                            </ul>
                        </div>
                        <div class="title-item">
                            <h4>клиентский отдел:</h4>
                            <ul>
                                <li><i class="icon-maps-and-flags"></i>г. Санкт-Петербург, ул. Донская,15</li>
                                <li><i class="icon-maps-and-flags"></i>г. Санкт-Петербург, ул. Донская,15</li>
                                <li><i class="icon-tel"></i><a href="tel:+79092361535">+7 (909)236-15-35</a></li>
                                <li><i class="icon-tel"></i><a href="tel:+79092361535">+7 (909)236-15-35</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="link-contact" href="javascript:void(0)">Задать вопрос</a>
                </div>
            </div>
            <div class="contacts-content">
                <img src="../img/contacts-img1.png" alt="" class="contacts-img1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.374634820834!2d30.261910516097185!3d59.94251858187765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631296b68beb9%3A0x728013c19ec72dc1!2z0JTQvtC90YHQutCw0Y8g0YPQuy4sIDE1LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTkxNzg!5e0!3m2!1sru!2sua!4v1558099344269!5m2!1sru!2sua"
                frameborder="0" style="border:0" allowfullscreen></iframe>
                <img src="../img/contacts-img2.png" alt="" class="contacts-img2">
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/contacts.min.js"></script>
</body>

</html>