<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Племя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <ul>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-UltraLight'">font-family: "AvenirNextCyr-UltraLight";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Thin'">font-family: "AvenirNextCyr-Thin";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Light'">font-family: "AvenirNextCyr-Light";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Regular'">font-family: "AvenirNextCyr-Regular";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Medium'">font-family: "AvenirNextCyr-Medium";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Demi'">font-family: "AvenirNextCyr-Demi";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Bold'">font-family: "AvenirNextCyr-Bold";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-Heavy'">font-family: "AvenirNextCyr-Heavy";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-UltraLightIt'">font-family: "AvenirNextCyr-UltraLightIt";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-ThinItalic'">font-family: "AvenirNextCyr-ThinItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-LightItalic'">font-family: "AvenirNextCyr-LightItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-RegularItalic'">font-family: "AvenirNextCyr-RegularItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-MediumItalic'">font-family: "AvenirNextCyr-MediumItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-DemiItalic'">font-family: "AvenirNextCyr-DemiItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-BoldItalic'">font-family: "AvenirNextCyr-BoldItalic";</li>
        <li style="font-size: 30px; font-family: 'AvenirNextCyr-HeavyItalic'">font-family: "AvenirNextCyr-HeavyItalic";</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>