<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Племя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/news.css">
</head>

<body class="black">

    <div class="popup popup-order">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <h3>Не нашли, что искали?</h3>
                <p>Остались вопросы?</p>
                <p>Мы перезвоним вам и поможем!</p>
            </div>
            <form>
                <input type="text" placeholder="Ваш телефон">
                <div class="checkbox">
                    <input type="checkbox">
                    <span>Нажимая кнопку «Жду звонка», я даю свое согласие на обработку 
                            моих персональных данных, в соответствии с Федеральным 
                            законом от 27.07.2006 года №152-ФЗ «О персональных данных», 
                            на условиях и для целей, определенных в Согласии на обработку 
                            персональных данных</span>
                </div>
                <button>Жду звонка</button>
            </form>
        </div>
    </div>

    <!-- ВИДНО КОГДА ЕСТЬ КЛАСС active -->
    <div class="popup popup-thank">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <p>Спасибо за Ваш вопрос, ожидайте ответ</p>
            </div>
        </div>
    </div>

    <div class="menu-site">
        <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
        <span class="close-menu"></span>
        <h6>племя</h6>
        <div class="menu-content">
            <nav>
                <ul>
                    <li><a href="index.html"><span>01</span>Главная <i class="icon-right-arrow"></i></a></li>
                    <li><a href="portfolio.html"><span>02</span>Портфолио<i class="icon-right-arrow"></i></a></li>
                    <li class="active"><a href="services.html"><span>03</span>Услуги<i class="icon-right-arrow"></i></a>
                        <ul>
                            <li><a href="services-lnternal.html">Веб-дизайн и разработка</a></li>
                            <li><a href="services-lnternal.html">Логотипы и брендинг</a></li>
                            <li><a href="services-lnternal.html">Презенторы и киты</a></li>
                            <li><a href="services-lnternal.html">Упаковка и этикетки</a></li>
                            <li><a href="services-lnternal.html">Наружная реклама</a></li>
                            <li><a href="services-lnternal.html">Digital-стратегия  и продвижение</a></li>
                        </ul>
                    </li>
                    <li><a href="team.html"><span>04</span>Команда<i class="icon-right-arrow"></i></a></li>
                    <li><a href="news.html"><span>05</span>Новости<i class="icon-right-arrow"></i></a></li>
                    <li><a href="jobs.html"><span>06</span>Вакансии<i class="icon-right-arrow"></i></a></li>
                    <li><a href="contacts.html"><span>07</span>Контакты<i class="icon-right-arrow"></i></a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><a href="javascript:void(0)" target="_blanck">Behance.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Instagram.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Facebook.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Vkontakte.</a></li>
            </ul>
        </div>
    </div>

    <div class="menu-fix active">
        <a class="tel" href="javascript:void(0)">
            <i class="icon-tel"></i>
        </a>
        <span class="menu">
            <span></span>
        </span>
        <ul class="social">
            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
        </ul>
    </div>

    <section class="news-lnternal">
        <div class="content">
            <a class="prev-page" href="news.html"><span><i class="icon-arrow-01"></i></span>к новостям</a>
            <div class="news-img" style="background: url('../img/news-lnternal-img.png') no-repeat 50% 50%; background-size: cover;"></div>
            <div class="news-lnternal-content">
                <div class="lnternal-text">
                    <h2>Почему конструктор сайтов не подходит для верьезного бизнеса</h2>
                    <article>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала</article>
                    <div class="news-lnternal-text">
                        <p>Lorem ipsum dolor sit amet, morbi congue nunc pellentesque sem, lobortis dolor non integer vehicula justo, pellentesque pulvinar turpis tellus, sed elit vestibulum, blandit elit dignissim ut. Semper felis sed sed aenean pellentesque
                            tristique, libero libero lectus vestibulum, condimentum quam, etiam nam donec in arcu dui. Sed scelerisque nunc sit vestibulum. Mi ullamcorper interdum habitant nam eget venenatis, dictum donec ut aliquam donec vehicula nec,
                            habitasse ridiculus lorem vel. Ornare auctor quam ut, aliquam aliquam elementum non augue lectus, ipsum elit, lorem suspendisse. </p>
                        <p>Felis eleifend elementum. Ac arcu wisi etiam donec feugiat, mauris et ligula porttitor, fermentum et wisi, commodo vivamus malesuada arcu justo. Eu ridiculus semper, sed at lorem accumsan rhoncus, tincidunt orci pellentesque curabitur
                            mauris, quam volutpat arcu aliquam sit penatibus. Magna nec, duis purus amet, morbi nisl hymenaeos donec, eu elit felis. Viverra bibendum, at morbi libero, in turpis fugiat purus, aliquam laborum et ante ante cursus.</p>
                        <p>Wisi tellus urna parturient eget sem, pede felis sapien, sed id, sagittis aenean laoreet ipsum dignissim lorem, urna fermentum. Nam feugiat a faucibus nascetur ac varius, lorem nam est sapien, non sed ligula velit, convallis gravida
                            accumsan nunc vitae at sociis, vel et sit donec molestie. Amet eu, nisl erat ornare tristique volutpat aliquam sapien, sed conubia feugiat ante erat congue a. Suspendisse posuere, eget proin duis ac, odio id cubilia placerat
                            vulputate, nascetur sit volutpat turpis vestibulum ac pede. Fringilla nullam ornare nunc augue donec maecenas. Eu enim, consequat ante vitae proin, tempor nec integer adipiscing lectus vivamus tenetur. Magna ligula congue,
                            facilisis sed phasellus. </p>
                        <p>Felis eleifend elementum. Ac arcu wisi etiam donec feugiat, mauris et ligula porttitor, fermentum et wisi, commodo vivamus malesuada arcu justo. Eu ridiculus semper, sed at lorem accumsan rhoncus, tincidunt orci pellentesque curabitur
                            mauris, quam volutpat arcu aliquam sit penatibus. Magna nec, duis purus amet, morbi nisl hymenaeos donec, eu elit felis. Viverra bibendum, at morbi libero, in turpis fugiat purus, aliquam laborum et ante ante cursus.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, morbi congue nunc pellentesque sem, lobortis dolor non integer</li>
                            <li>Lorem ipsum dolor sit amet, morbi congue nunc pellentesque sem, lobortis dolor non integer</li>
                            <li>Lorem ipsum dolor sit amet, morbi congue nunc pellentesque sem, lobortis dolor non integer</li>
                            <li>Lorem ipsum dolor sit amet, morbi congue nunc pellentesque sem, lobortis dolor non integer</li>
                        </ul>
                    </div>
                </div>
                <div class="news-next">
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала</p>
                    <div class="news-next-img" style="background: url('../img/news-next.png') no-repeat 50% 50%; background-size: cover;">
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/news.min.js"></script>
</body>

</html>