<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Племя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/portfolio.css">
</head>

<body class="black">

    <div class="popup popup-order">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <h3>Не нашли, что искали?</h3>
                <p>Остались вопросы?</p>
                <p>Мы перезвоним вам и поможем!</p>
            </div>
            <form>
                <input type="text" placeholder="Ваш телефон">
                <div class="checkbox">
                    <input type="checkbox">
                    <span>Нажимая кнопку «Жду звонка», я даю свое согласие на обработку 
                            моих персональных данных, в соответствии с Федеральным 
                            законом от 27.07.2006 года №152-ФЗ «О персональных данных», 
                            на условиях и для целей, определенных в Согласии на обработку 
                            персональных данных</span>
                </div>
                <button>Жду звонка</button>
            </form>
        </div>
    </div>

    <!-- ВИДНО КОГДА ЕСТЬ КЛАСС active -->
    <div class="popup popup-thank">
        <span class="close"></span>
        <div class="popup-content">
            <span class="popup-close"></span>
            <div class="title">
                <p>Спасибо за Ваш вопрос, ожидайте ответ</p>
            </div>
        </div>
    </div>

    <div class="menu-site">
        <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
        <span class="close-menu"></span>
        <h6>племя</h6>
        <div class="menu-content">
            <nav>
                <ul>
                    <li><a href="index.html"><span>01</span>Главная <i class="icon-right-arrow"></i></a></li>
                    <li><a href="portfolio.html"><span>02</span>Портфолио<i class="icon-right-arrow"></i></a></li>
                    <li class="active"><a href="services.html"><span>03</span>Услуги<i class="icon-right-arrow"></i></a>
                        <ul>
                            <li><a href="services-lnternal.html">Веб-дизайн и разработка</a></li>
                            <li><a href="services-lnternal.html">Логотипы и брендинг</a></li>
                            <li><a href="services-lnternal.html">Презенторы и киты</a></li>
                            <li><a href="services-lnternal.html">Упаковка и этикетки</a></li>
                            <li><a href="services-lnternal.html">Наружная реклама</a></li>
                            <li><a href="services-lnternal.html">Digital-стратегия  и продвижение</a></li>
                        </ul>
                    </li>
                    <li><a href="team.html"><span>04</span>Команда<i class="icon-right-arrow"></i></a></li>
                    <li><a href="news.html"><span>05</span>Новости<i class="icon-right-arrow"></i></a></li>
                    <li><a href="jobs.html"><span>06</span>Вакансии<i class="icon-right-arrow"></i></a></li>
                    <li><a href="contacts.html"><span>07</span>Контакты<i class="icon-right-arrow"></i></a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><a href="javascript:void(0)" target="_blanck">Behance.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Instagram.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Facebook.</a></li>
                <li><a href="javascript:void(0)" target="_blanck">Vkontakte.</a></li>
            </ul>
        </div>
    </div>

    <div class="menu-fix active">
        <a class="tel" href="javascript:void(0)">
            <i class="icon-tel"></i>
        </a>
        <span class="menu">
            <span></span>
        </span>
        <ul class="social">
            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
        </ul>
    </div>

    <section class="portfolio">
        <div class="content">
            <a class="prev-page" href="index.html"><span><i class="icon-arrow-01"></i></span>на главную</a>
            <div class="portfolio-content">
                <div class="portfolio-text clearfix">
                    <div class="title">
                        <span>1560</span>
                        <h2>Портфолио</h2>
                        <p>Лучшие работы, В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов</p>
                    </div>
                    <div class="all-portfolio clearfix">
                        <div class="portfolio-items clearfix">
                            <div class="portfolio-item active" data-slider="slider1">
                                <p>Web-дизайн и разработка</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                            <div class="portfolio-item" data-slider="slider2">
                                <p>Логотипы и айдентика</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                            <div class="portfolio-item" data-slider="slider3">
                                <p>Полиграфия, и что-то еще</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                            <div class="portfolio-item" data-slider="slider4">
                                <p>Наружная реклама</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                            <div class="portfolio-item" data-slider="slider5">
                                <p>Упаковка и этикетка</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                            <div class="portfolio-item" data-slider="slider6">
                                <p>Digital-стратегия и продвижение</p>
                                <div class="img">
                                    <img src="../img/portfolio-item-icon2.png" alt="">
                                    <img src="../img/portfolio-item-icon2-hover.png" alt="" class="hover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-slider slider1 active">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
                <div class="portfolio-slider slider2">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
                <div class="portfolio-slider slider3">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
                <div class="portfolio-slider slider4">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
                <div class="portfolio-slider slider5">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
                <div class="portfolio-slider slider6">
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                    <div class="item-slider">
                        <a href="portfolio-lnternal.html"></a>
                        <div class="img" style="background: url('../img/portfolio-slider-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Студия лазерной эпиляции <span>“Soft Laser”</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/portfolio.min.js"></script>
</body>

</html>