
.icon-eye-close-up:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-favorite-heart-button:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-moon-white:before { content: '\e804'; } /* '' */
.icon-sun-white:before { content: '\e805'; } /* '' */
.icon-right-arrow:before { content: '\e806'; } /* '' */
.icon-vk:before { content: '\e807'; } /* '' */
.icon-tel:before { content: '\e808'; } /* '' */
.icon-moon-black:before { content: '\e809'; } /* '' */
.icon-sun-black:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-arrow-01:before { content: '\e80c'; } /* '' */
.icon-double-arrow-left:before { content: '\e80e'; } /* '' */
.icon-globe:before { content: '\e812'; } /* '' */
.icon-maps-and-flags:before { content: '\e816'; } /* '' */
.icon-play-next-button:before { content: '\e81b'; } /* '' */
.icon-skype-logo:before { content: '\e81d'; } /* '' */
.icon-www:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */